{% extends "base.html" %}

{% block app_content %}
  <main class="flex-shrink-0">
    <div class="container">
      <h1>Reset Your Password</h1>
      <hr />

      <div class="container ms-0 ps-0">
        <div class="row">
          <div class="col-md-4 pt-4">
            <form method="post">
              {{ form.csrf_token }}
              <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else "")) }}
                <div class="form-text">{{ form.password.description|safe }}</div>
              </div>
              <div class="mb-3">
                {{ form.password2.label(class="form-label") }}
                {{ form.password2(class="form-control" + (" is-invalid" if form.password2.errors else "")) }}
              </div>
              <div class="mb-3 pt-3">
                {{ form.submit(class="btn btn-primary") }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}