{% extends "_base.html" %}

{% block app_content %}
  <main class="flex-shrink-0">
    <div class="container ps-0">

      <div class="row mt-4">
        <div class="col">
          <h3 class="mb-0" style="color:#696969;">{{ bottler.user.username }}'s Whiskies: Bottlers: Edit</h3>
          <h1>{{ bottler.name }}</h1>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-4">
          <form method="post" novalidate>
            {% set popover_location_1 = "<p>The first part of the bottler's location.</p><p>If the bottler is in Bardstown, KY, the value for &quot;Location 1&quot; would be <b>Bardstown</b>.</p><p>If the bottler is in Islay, Scotland, the value for &quot;Location 1&quot; would be <b>Islay</b>.</p>" %}
            {% set popover_location_2 = "<p>The second part of the bottler's location.</p><p>If the bottler is in Bardstown, KY, the value for &quot;Location 1&quot; would be <b>KY</b>.</p><p>If the bottler is in Islay, Scotland, the value for &quot;Location 1&quot; would be <b>Scotland</b>.</p>" %}
            
            {{ form.csrf_token }}

            {{ form_utils.render_field(form.name) }}
            {{ form_utils.render_field(form.description) }}
            {{ form_utils.render_field(form.region_1, popover_text=popover_location_1) }}
            {{ form_utils.render_field(form.region_2, popover_text=popover_location_2) }}
            {{ form_utils.render_field(form.url) }}

            <div class="pt-3 mb-3">
              {{ form.submit(class="btn btn-primary") }}
              {{ buttons.cancel_button(current_user, request) }}
            </div>
          </form>
        </div>
      </div>
    </main>
{% endblock %}
