
/* set cookie when length dropdown is changed */
$("select[name='bottles_length']").on("change", function() {
  let next_year = new Date(new Date().setFullYear(new Date().getFullYear() + 1));
  document.cookie = "dt-list-length=" + this.value + "; expires=" + next_year + "; path=/";
});
  
/* confirm delete modal window */
const myModal = document.getElementById("confirmDelete");
myModal.addEventListener("shown.bs.modal", (e) => {
  let btn = $(e.target).find(".btn-ok");
  $(btn).on("click", function() {
    location.href = $(e.relatedTarget).data("bs-href");
  });
});