html { font-size: 14px; }

body {
  overflow-y: scroll;
}

a {
  color: #337ab7;
  text-decoration: none;
}
a:focus, a:hover {
  color: #23527c;
  text-decoration: underline;
}

.form-label {
  font-weight: bold;
}

.popover-body ul { padding-left: 18px; }

.error {
  color: crimson;
}

/* nav bar */
/* ---------------------------------------------------------------------------------------- */
.navbar {
  border-bottom: 1px solid #D3D3D3;
}

#nav_login, #nav_logout {
  color: #000;
}
#nav_login:hover, #nav_logout:hover {
  color: #fff !important;
  text-decoration: none;
}

.container hr {
  margin-top: 0;
}

/* bottle image on bottle detail page */
.bottle-img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

/* alerts */
/* https://vikramlearning.com/dotnet/article/blazor-bootstrap-alert-component-examples/88/157 */
/* ---------------------------------------------------------------------------------------- */
.alert ul { margin-bottom: 0px; }

.bg-primary { background-color: #cce5ff !important; }
.text-primary { color: #26509b !important; }

.bg-secondary { background-color: #e2e3e5 !important; }
.text-secondary { color: #474b4f !important; }

.bg-success { background-color: #d4edda !important; }
.text-success { color: #474b4f !important; }

.bg-danger { background-color: #f8d7da !important; }
.text-danger { color: #985458 !important; }

.bg-warning { background-color: #fff3cd !important;}
.text-warning { color: #8e7c45 !important; }

.bg-info { background-color: #d1ecf1 !important; }
.text-info { color: #985458 !important; }

.bg-light { background-color: #fefefe !important; }
.text-light { color: #6b6d7f !important; }

.bg-dark { background-color: #d3d3d4 !important; }
.text-dark { color: #d6d8d9 !important; }



#bottleCarousel {
  margin-bottom: 40px;
}

.carousel.slide {
    width: 100%;
    max-width: 400px !important;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel .carousel-indicators button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.carousel .carousel-indicators button {background-color: #808080;}
.carousel .carousel-indicators button.active {background-color: #696969;}

.carousel .carousel-control-next, .carousel .carousel-control-prev {
  background: #FAF9F6;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  top: 45%;
}
.carousel .carousel-control-next {
  right: 14px;
}
.carousel .carousel-control-prev {
  left: 14px;
}
.carousel .carousel-control-next-icon {
  height: 20px;
  width: 20px;
  margin-right: -4px;
}
.carousel .carousel-control-prev-icon {
  height: 20px;
  width: 20px;
  margin-left: -4px;
}
ul.terms li {
  margin-left: 24px;
}


/* tidying up the data tables */
#bottles_wrapper div.row:first-child,
#entities_wrapper div.row:first-child {
  padding-top:8px;
  margin-bottom:12px;
}
#bottles_wrapper div.row:last-child,
#entities_wrapper div.row:last-child {
  margin-top:12px;
  padding-bottom:24px;
}



.tooltip-arrow:before {
    /* border-top-color: #0d6efd !important; */
    border-left-color: #337ab7 !important;
}

.tooltip-inner {
    background: #337ab7;
    padding: 10px;
    opacity: 1.0;
}

/* style the Select2 container on error */
.is-invalid + .select2-container {
  border: 1px solid #dc3545 !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  background-clip: padding-box !important;
}

.is-invalid + .select2-container .select2-selection {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
  background-position: right 0.75rem center !important;
  padding-right: calc(1.5em + .75rem) !important; /* Ensure padding to avoid overlapping */
}

.is-invalid + .select2-container .select2-selection {
  border: none !important;
  box-shadow: none !important;
}


.image-preview {
  width: 150px;  /* Match the size on the "Add" page */
  height: 150px;
  object-fit: cover; /* Ensures the image is cropped rather than stretched */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.image-preview:hover {
  transform: scale(1.2); /* Scales the image by 20% */
  transition: transform 0.3s ease; /* Smooth animation */
  z-index: 10; /* Ensures the hovered image appears on top */
}