{% extends "base.html" %}

{% block app_content %}

  <main class="flex-shrink-0">
    <div class="container">
      <h1>Oh Snap!</h1>
      <hr />
      <div>
        <p>Sorry, but this page isn't working properly for some reason. We are now aware of the mistake, and are working to fix it.</p>

        <p>In the meantime, here are some things you can try:</p>
        <ul>
          <li><i class="fa-solid fa-arrows-rotate"></i> <b>Refresh the page</b>. Sometimes, this helps.</li>
          <li><i class="fa-regular fa-clock"></i> <b>Try again</b> in a few minutes.</li>
          <li><i class="fa-regular fa-envelope"></i> <b>Email us</b> at <a href="mailto:bartender@my-whiskies.online">bartender@my-whiskies.online</a> and let us know what happened.</li>
        </ul>
        <p><a href="{{ url_for('main.home') }}">Home</a></p>
      </div>
    </div>

  </main>

{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}