{% macro render_field(field, popover_text) %}

  {% if popover_text %}
    {% set css_class="pe-1" %}
    {% if field.type == "BooleanField" %}
      {% set css_class = css_class ~ " ps-1" %}
    {% else %}
      {% set css_class = css_class ~ " float-end" %}
    {% endif %}
    {% set popover_title = "<i class='bi bi-question-circle pe-1'></i> " ~ field.label.text %}
    {% set ym = '<a tabindex="-1" href="" class="' ~ css_class ~ '" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-html="true" data-bs-title="' ~ popover_title ~ '" data-bs-content="' ~ popover_text ~'" onclick="return false;"><i class="bi bi-question-circle-fill"></i></a>' %}
  {% else %}
    {% set ym = "" %}
  {% endif %}

  <div class="mb-3">
    {% if field.type == "BooleanField" %}
      {{ field(class="form-check-imput") }}&nbsp;&nbsp;
      {{ field.label(class="form-label")}}
      {{ ym|safe }}
    {% else %}
      {{ field.label(class="form-label") }}
      {% if field.flags.required %}<span class="text-danger">*</span>{% endif %}
      {{ ym|safe }}
    
      {{ field(class="form-control" + (" is-invalid" if field.errors else ""))|safe }}
      {% if field.errors %}
        {% for error in field.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}