{% macro render_field(field, popover_text) %}
  <div class="mb-3">
    {{ field.label(class="form-label") }}
    {{ render_popover(field, popover_text) }}
    {% if field.flags.required %}<span class="text-danger">*</span>{% endif %}
    {{ field(class="form-control" + (" is-invalid" if field.errors else ""))|safe }}
    {{ render_errors(field) }}
    {{ render_description(field) }}
  </div>
{% endmacro %}

{% macro render_checkbox(field, popover_text) %}
  <div class="mb-3">
    {{ field(class="form-check-input" + (" is-invalid" if field.errors else ""))|safe }}
    &nbsp;&nbsp;
    {{ field.label(class="form-label fw-normal")}}
    {% if field.flags.required %}<span class="text-danger">*</span>{% endif %}
    {{ render_popover(field, popover_text, "ps-1") }}
    {{ render_errors(field) }}
    {{ render_description(field) }}
  </div>
{% endmacro %}

{% macro render_filefield(field, number, img_s3_url=None, bottle_id=None, image_exists=False) %}
<div class="d-flex mb-3">
    <div>
        <!-- Image Preview (for existing images) -->
        <img 
            id="{{ field.id }}-preview" 
            {% if image_exists %}
              src="{{ img_s3_url }}/{{ bottle_id }}_{{ number }}.jpg" 
              onerror="this.onerror=null;this.src='{{ img_s3_url }}/{{ bottle_id }}_{{ number }}.png';" 
            {% endif %}
            alt="Preview" 
            class="image-preview {% if not image_exists %}d-none{% endif %}" 
        />
        <!-- Placeholder -->
        <div 
            class="placeholder-thumbnail d-flex flex-column justify-content-center align-items-center {% if image_exists %}d-none{% endif %}"
            id="{{ field.id }}-placeholder" 
            style="width: 150px; height: 180px; border: 2px dashed #ccc; border-radius: 5px; text-align: center;"
        >
            <i class="bi bi-card-image" style="font-size: 24px; color: #aaa;"></i>
            <span class="mt-2 text-muted">Image {{ number }}</span>
        </div>
    </div>
    <div class="ms-3">
        {{ field.label(class="form-label") }}
        {{ field(class="form-control", accept=".jpg,.jpeg,.png") }}
        <div class="invalid-feedback">
            This image exceeds the {{ config.MAX_FILE_UPLOAD_MB }}MB limit and may fail to upload.
        </div>
        <button 
            type="button" 
            id="clear-{{ field.id }}" 
            class="btn btn-danger btn-sm mt-2 clear-image-btn {% if not image_exists %}d-none{% endif %}"
        >
            Remove
        </button>
    </div>
</div>
{% endmacro %}

{% macro render_popover(field, popover_text, extra_class="") %}
  {% if popover_text %}
    {% set popover_title = "<i class='bi bi-question-circle pe-1'></i> " ~ field.label.text %}
    {% set pop = '<a tabindex="-1" href="" class="pe-1 ' ~ extra_class ~ '" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-html="true" data-bs-title="' ~ popover_title ~ '" data-bs-content="' ~ popover_text ~'" onclick="return false;"><i class="bi bi-question-circle-fill"></i></a>' %}
    {{ pop|safe }}
  {% endif %}
{% endmacro %}

{% macro render_errors(field) %}
  {% if field.errors %}
    {% for error in field.errors %}
      <div class="invalid-feedback"><i class="bi bi-exclamation-circle"></i> {{ error }}</div>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro render_description(field) %}
  {% if field.description %}
    <div class="form-text">{{ field.description|safe }}</div>
  {% endif %}
{% endmacro %}
