{% macro cannot_delete_modal(entity_label) %}
<div class="modal fade" id="cannotDelete" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          <i class="bi bi-exclamation-circle text-danger"></i> This {{ entity_label }} Cannot be Deleted
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This {{ entity_label | lower }} has bottles associated with it.<br><br>
        You must delete all associated bottles before you can delete the {{ entity_label | lower }} itself.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
