{%- import "macros/buttons.html" as buttons -%}
{%- import "macros/entities.html" as entity_utils -%}
{%- import "macros/forms.html" as form_utils -%}
<!doctype html>
<html lang="en">
  {% include "head.html" %}
<body
  data-theme="{{ request.cookies.get('bottle_theme', 'clean') }}"
  x-data="{
    theme: '{{ request.cookies.get('bottle_theme', 'clean') }}',
    setTheme(t) {
      this.theme = t;
      document.cookie = 'bottle_theme=' + t + '; path=/; max-age=31536000';
    }
  }"
  :data-theme="theme">
  {% include "navbar.html" %}
  {% block content %}
    <div class="w-100">
      <div class="mx-auto px-3" style="max-width: 1000px;">
        {% include "flash.html" %}
        {% block app_content %}{% endblock %}
      </div>
    </div>
    {% include "footer.html" %}
  {% endblock %}

  {%- block scripts -%}
    {% include "scripts.html" %}
  {%- endblock %}

</body>
</html>