{% extends "base.html" %}

{% block app_content %}
  <main class="flex-shrink-0">
    <div class="container ps-0">

      <div class="row mt-4">
        <div class="col">
          <h3 class="mb-0" style="color:#696969;">{{ current_user.username }}'s Whiskies: Bottles</h3>
          <h1>Add Bottle</h1>
        </div>
      </div>
    </div>

    <hr />

    <div class="container">
      <form method="post" novalidate enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="row">
          <div class="col ms-0 ps-0 me-4 pe-4">
            <div class="mb-3">
              {{ form.name.label(class="form-label") }}
              {% if form.name.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.name(class="form-control") }}
              {% if form.name.errors %}
                {% for error in form.name.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.url.label(class="form-label") }}
              {% if form.url.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.url(class="form-control") }}
              {% if form.url.errors %}
                {% for error in form.url.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.distilleries.label(class="form-label") }}
              {% if form.distilleries.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.distilleries(class="form-select") }}
              {% if form.distilleries.errors %}
                {% for error in form.distilleries.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.bottler_id.label(class="form-label") }}
              {% if form.bottler_id.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.bottler_id(class="form-select") }}
              {% if form.bottler_id.errors %}
                {% for error in form.bottler_id.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.type.label(class="form-label") }}
              {% if form.type.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.type(class="form-select") }}
              {% if form.type.errors %}
                {% for error in form.type.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.size.label(class="form-label") }}
              {% if form.size.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.size(class="form-control") }}
              {% if form.size.errors %}
                {% for error in form.size.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.year_barrelled.label(class="form-label") }}
              {% if form.year_barrelled.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.year_barrelled(class="form-control") }}
              {% if form.year_barrelled.errors %}
                {% for error in form.year_barrelled.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.year_bottled.label(class="form-label") }}
              {% if form.year_bottled.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.year_bottled(class="form-control") }}
              {% if form.year_bottled.errors %}
                {% for error in form.year_bottled.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.abv.label(class="form-label") }}
              {% if form.abv.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.abv(class="form-control") }}
              {% if form.abv.errors %}
                {% for error in form.abv.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.description.label(class="form-label") }}
              {% if form.description.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.description(class="form-control") }}
              {% if form.description.errors %}
                {% for error in form.description.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.stars.label(class="form-label") }}
              {% if form.stars.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.stars(class="form-select") }}
              {% if form.stars.errors %}
                {% for error in form.stars.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.review.label(class="form-label") }}
              {% if form.review.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.review(class="form-control") }}
              {% if form.review.errors %}
                {% for error in form.review.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>

            <div class="mt-3 pt-3">
              {{ form.submit(class="btn btn-primary") }}
            </div>
          </div>

          <div class="col">
            <div class="mb-3">
              {{ form.cost.label(class="form-label") }}
              {% if form.cost.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.cost(class="form-control") }}
              {% if form.cost.errors %}
                {% for error in form.cost.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.date_purchased.label(class="form-label") }}
              {% if form.date_purchased.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.date_purchased(class="form-control") }}
              {% if form.date_purchased.errors %}
                {% for error in form.date_purchased.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.date_opened.label(class="form-label") }}
              {% if form.date_opened.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.date_opened(class="form-control") }}
              {% if form.date_opened.errors %}
                {% for error in form.date_opened.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.date_killed.label(class="form-label") }}
              {% if form.date_killed.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.date_killed(class="form-control") }}
              {% if form.date_killed.errors %}
                {% for error in form.date_killed.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="mt-2 pt-2">
              <hr />
            </div>

            <div class="mb-2 pb-2">
              Upload up to 3 images. Portrait-oriented images are preferred. <i class="bi bi-file-image"></i>
              <br />
              By uploading images I agree to the <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Image Terms and Conditions.</a>
            </div>

            <div class="mb-3">
              {{ form.bottle_image_1.label(class="form-label") }}
              {% if form.bottle_image_1.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.bottle_image_1(class="form-control") }}
              {% if form.bottle_image_1.errors %}
                {% for error in form.bottle_image_1.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="row mb-3">
              <div class="col">
              {{ form.bottle_image_2.label(class="form-label") }}
              {% if form.bottle_image_2.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.bottle_image_2(class="form-control") }}
              {% if form.bottle_image_2.errors %}
                {% for error in form.bottle_image_2.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
              </div>
            </div>
            <div class="mb-3">
              {{ form.bottle_image_3.label(class="form-label") }}
              {% if form.bottle_image_3.flags.required %}<span class="text-danger">*</span>{% endif %}
              {{ form.bottle_image_3(class="form-control") }}
              {% if form.bottle_image_3.errors %}
                {% for error in form.bottle_image_3.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Image Terms and Conditions</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>The following rules will be strictly enforced in regard to uploaded images.</p>
          <ul>
            <li>You may only upload your own personal images. No copyrighted images are permitted.</li>
            <li>
              Only photos of whiskey bottles and/or whiskey glasses are permitted. Photos must <em>not</em> include any of the following:
              <ul>
                <li>Any individuals</li>
                <li>Any physical addresses or phone numbers</li>
                <li>Any text, such as links to other websites or any personal information</li>
              </ul>
            </li>
          </ul>
          <p>Any account found to violate these rules with any images will be terminated immediately.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close Window</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script type="text/javascript">
    function clearField(id_input) {
      let fileInput = document.getElementById(id_input)
      fileInput.value = ""
      fileInput.dispatchEvent(new Event("change"));
    }
  </script>
{% endblock %}
