{% extends "base.html" %}

{% block app_content %}
  <main class="flex-shrink-0">
    <div class="container ps-0">

      <div class="row mt-4">
        <div class="col">
          <h3 class="mb-0" style="color:#696969;">{{ distillery.user.username }}'s Whiskies: Edit Distillery</h3>
          <h1>{{ distillery.name }}</h1>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-4">
          <form method="post" novalidate>
            {{ form.csrf_token }}

            {% for field in form %}
              {% if field.type != "SubmitField" and field.type != "CSRFTokenField" %}
                <div class="mb-3">
                  {{ field.label(class="form-label") }}
                  {% if field.flags.required %}<span class="text-danger">*</span>{% endif %}
                  {% if field.name == "region_1" %}
                    <a tabindex="0" href="" class="float-end pe-1" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-html="true" data-bs-title="<i class='bi bi-question-circle pe-1'></i> Location 1" data-bs-content="<p>The first part of the distillery's location.</p><p>If the distillery is in Bardstown, KY, the value for &quot;Location 1&quot; would be <b>Bardstown</b>.</p><p>If the distillery is in Islay, Scotland, the value for &quot;Location 1&quot; would be <b>Islay</b>.</p>" onclick="return false;"><i class="bi bi-question-circle-fill"></i></a>
                  {% endif %}
                  {% if field.name == "region_2" %}
                    <a tabindex="0" href="" class="float-end pe-1" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-html="true" data-bs-title="<i class='bi bi-question-circle pe-1'></i> Location 2" data-bs-content="<p>The second part of the distillery's location.</p><p>If the distillery is in Bardstown, KY, the value for &quot;Location 2&quot; would be <b>KY</b>.</p><p>If the distillery is in Islay, Scotland, the value for &quot;Location 2&quot; would be <b>Scotland</b>.</p>" onclick="return false;"><i class="bi bi-question-circle-fill"></i></a>
                  {% endif %}
                  {{ field(class="form-control") }}
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <span class="error">{{ error }}</span>
                    {% endfor %}
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
            <div class="mb-3">
              {{ form.submit(class="btn btn-primary") }}
            </div>
          </form>
        </div>
      </div>
    </main>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
  </script>
{% endblock %}
