<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center my-4 border-top text-muted" style="font-size:smaller;">
    <div class="hstack gap-3">
      <div>&copy; {{ current_date.strftime("%Y") }} My Whiskies Online &amp; Good Grief! LLC</div>
    </div>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="{{ url_for('core.terms') }}" class="nav-link px-2 text-muted">Terms &amp; Conditions</a></li>
      <li class="nav-item"><a href="{{ url_for('core.privacy') }}" class="nav-link px-2 text-muted">Privacy Policy</a></li>
    </ul>
  </footer>
</div>