<nav class="navbar navbar-expand-lg mb-5" style="background-color:#F5F5F5; border-bottom:1px solid #696969;">
  <div class="container">
    <img src="{{ url_for('static', filename='cheers.png') }}" style="width:7%;" class="me-3" />
    {% if current_user.is_authenticated %}
      {% set username = current_user.username.lower() %}
    {% else %}
      {% if user %}
        {% set username = user.username.lower() %}
      {% endif %}
      {% if bottle %}
        {% set username = bottle.user.username.lower() %}
      {% endif %}
      {% if distillery %}
        {% set username = distillery.user.username.lower() %}
      {% endif %}
    {% endif %}
    {% if request.endpoint == "core.index" %}
      <div class="navbar-brand">My Whiskies Online</div>
    {% else %}
        <a class="navbar-brand" href="{{ url_for("core.index") }}">My Whiskies Online</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.endpoint != "core.index" %}
          <li class="nav-item">
            <a class="nav-link" id="nav_home" href="{{ url_for("core.home", username=username) }}">Home</a>
          </li>
        {% else %}
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" id="nav_home" href="{{ url_for("core.home", username=username) }}">Home</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if current_user.is_anonymous %}
            <li class="nav-item">
              <a href="{{ url_for('auth.login') }}" class="btn btn-primary text-white" role="button" id="nav_login">Log In</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-secondary" role="button" id="nav_logout">Log Out {{ current_user.username }}</a>
            </li>
          {% endif %}
        </ul>
      </span>
    </div>
  </div>
</nav>