html { font-size: 14px; }

a {
  color: #337ab7;
  text-decoration: none;
}
a:focus, a:hover {
  color: #23527c;
  text-decoration: underline;
}

.error {
  color: crimson;
}

#nav_login, #nav_logout {
  color: #000;
}
#nav_login:hover, #nav_logout:hover {
  color: #fff !important;
  text-decoration: none;
}

.container > hr {
  margin-top: 6px !important;
}
.container > h1 {
  margin-top: 1.5rem !important;
  margin-bottom: 0 !important;
}

.navbar {
  border-bottom: 1px solid #D3D3D3;
}