html { font-size: 14px; }

body {
  overflow-y: scroll;
}

a {
  color: #337ab7;
  text-decoration: none;
}
a:focus, a:hover {
  color: #23527c;
  text-decoration: underline;
}

.form-label {
  font-weight: bold;
}

.popover-body ul { padding-left: 18px; }

.error {
  color: crimson;
}

/* nav bar */
/* ---------------------------------------------------------------------------------------- */
.navbar {
  border-bottom: 1px solid #D3D3D3;
}

#nav_login, #nav_logout {
  color: #000;
}
#nav_login:hover, #nav_logout:hover {
  color: #fff !important;
  text-decoration: none;
}

.container hr {
  margin-top: 0;
}

/* bottle image on bottle detail page */
.bottle-img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

/* alerts */
/* ---------------------------------------------------------------------------------------- */
.alert ul { margin-bottom: 0px; }

/* colors taken from https://dribbble.com/shots/15137093--Notifications-New-Countly-UI */
.alert-info {
  background-color: #DFEBF9;
  border-color: #AAC6E7;
}
.alert-danger {
  background-color: #FAE8E4;
  border-color: #EDC5BD;
}
.alert-success {
  background-color: #E5F5E9;
  border-color: #BEDFC6;
}
.alert-warning {
  background-color: #FEF5E4;
  border-color: #F2D9AE;
}

#bottleCarousel {
  margin-bottom: 40px;
}

.carousel.slide {
    width: 100%;
    max-width: 400px; !important
}

.carousel-indicators {
  bottom: -50px;
}

.carousel .carousel-indicators button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.carousel .carousel-indicators button {background-color: #808080;}
.carousel .carousel-indicators button.active {background-color: #696969;}

.carousel .carousel-control-next, .carousel .carousel-control-prev {
  background: #FAF9F6;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  top: 45%;
}
.carousel .carousel-control-next {
  right: 14px;
}
.carousel .carousel-control-prev {
  left: 14px;
}
.carousel .carousel-control-next-icon {
  height: 20px;
  width: 20px;
  margin-right: -4px;
}
.carousel .carousel-control-prev-icon {
  height: 20px;
  width: 20px;
  margin-left: -4px;
}
ul.terms li {
  margin-left: 24px;
}


/* tidying up the data tables */

#bottles_wrapper div.row:first-child,
#distilleries_wrapper div.row:first-child {
  padding-top:8px;
  margin-bottom:12px;
}
#bottles_wrapper div.row:last-child,
#distilleries_wrapper div.row:last-child {
  margin-top:12px;
  padding-bottom:24px;
}

/* the distillery page datatable *//* dataTable on distillery page */
#distillery-bottles_wrapper div.row:first-child,
#distillery-bottles_wrapper div.row:last-child {
  display:none;
}