{% extends "_base.html" %}

{% block app_content %}
  <main class="flex-shrink-0">
    <div class="container">

      <div class="row mt-4">
        <div class="col">
          <h3 class="mb-0" style="color:#696969;">My Whiskies Online</h3>
          <h1>Log In</h1>
        </div>
      </div>

      <hr />

      <div class="container ms-0 ps-0">
        <div class="row">
          <div class="col-md-4 pt-4">

            <form method="post" novalidate>
              {{ form.csrf_token }}
              {{ form.g_recaptcha_response }}

              {{ form_utils.render_hidden(form.form_name)}}
              {{ form_utils.render_field(form.username) }}
              {{ form_utils.render_field(form.password) }}
              {{ form_utils.render_checkbox(form.remember_me) }}
              
              <div class="mb-3 pt-3">
                {{ form.submit(class="btn btn-primary") }}
                {{ buttons.cancel_button(current_user, request) }}
              </div>
            </form>
          </div>
        </div>

      <br>

      <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
      <p>
        Forgot Your Password?
        <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
      </p>
      </div>
    </div>
  </main>
{% endblock %}