{% extends "_base.html" %}

{% block app_content %}
  <main class="flex-shrink-0">
    <div class="container">

      <div class="row mt-4">
        <div class="col">
          <p class="page-header-line"><span class="page-header-context">My Whiskies Online</span></p>
          <h1 class="mb-0">Register</h1>
        </div>
      </div>

      <hr />

      <div class="container ms-0 ps-0">
        <div class="row">
          <div class="col-md-4 pt-4">

            <form method="post" id="register_form" novalidate
                  x-data="{ agreed: {{ 'true' if form.agree_terms.data else 'false' }}, agreedAge: {{ 'true' if form.confirm_age.data else 'false' }} }">
              {{ form.csrf_token }}
              {{ form.form_name }}
              {{ form.g_recaptcha_response }}

              {{ form_utils.render_field(form.username) }}
              {{ form_utils.render_field(form.email) }}
              {{ form_utils.render_field(form.password) }}
              {{ form_utils.render_field(form.password2) }}

              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input{{ ' is-invalid' if form.agree_terms.errors else '' }}"
                  id="{{ form.agree_terms.id }}" name="{{ form.agree_terms.name }}" value="y"
                  x-model="agreed">
                <label class="form-check-label fw-normal" for="{{ form.agree_terms.id }}">
                  {{ form.agree_terms.label.text }} <span class="text-danger">*</span>
                </label>
                {% for error in form.agree_terms.errors %}
                  <div class="invalid-feedback"><i class="bi bi-exclamation-circle"></i> {{ error }}</div>
                {% endfor %}
              </div>

              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input{{ ' is-invalid' if form.confirm_age.errors else '' }}"
                  id="{{ form.confirm_age.id }}" name="{{ form.confirm_age.name }}" value="y"
                  x-model="agreedAge" @change="agreedAge = $event.target.checked">
                <label class="form-check-label fw-normal" for="{{ form.confirm_age.id }}">
                  {{ form.confirm_age.label.text }} <span class="text-danger">*</span>
                </label>
                {% for error in form.confirm_age.errors %}
                  <div class="invalid-feedback"><i class="bi bi-exclamation-circle"></i> {{ error }}</div>
                {% endfor %}
              </div>

              <div class="mb-3 pt-3">
                <input type="submit" class="btn btn-primary" value="Register" :disabled="!agreed || !agreedAge">
                {{ buttons.cancel_button(current_user, request) }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}