{% extends "_base.html" %}

{% block app_content %}
  <main class="flex-shrink-0">
    <div class="container">

      <div class="row mt-4">
        <div class="col">
          <h3 class="mb-0" style="color:#696969;">My Whiskies Online</h3>
          <h1>Register</h1>
        </div>
      </div>

      <hr />

      <div class="container ms-0 ps-0">
        <div class="row">
          <div class="col-md-4 pt-4">

            <form method="post" id="register_form" novalidate>
              {{ form.csrf_token }}
              {{ form.g_recaptcha_response }}

              {{ form_utils.render_field(form.username) }}
              {{ form_utils.render_field(form.email) }}
              {{ form_utils.render_field(form.password) }}
              {{ form_utils.render_field(form.password2) }}
              {{ form_utils.render_checkbox(form.agree_terms) }}
              
              <div class="mb-3 pt-3">
                {{ form.submit(class="btn btn-primary") }}
                {{ buttons.cancel_button(current_user, request) }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}