{% extends "_base.html" %}

{% block app_content %}
  <main class="flex-shrink-0">
    <div class="container">

      <div class="row mt-4">
        <div class="col">
          <h3 class="mb-0" style="color:#696969;">My Whiskies Online</h3>
          <h1>Reset Password</h1>
        </div>
      </div>

      <hr />

      <div class="container ms-0 ps-0">
        <div class="row">
          <p>Enter the e-mail address that you used to register with My Whiskies Online.</p>
          <div class="col-md-4 pt-4">
            <form method="post">
              {{ form.csrf_token }}
              <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control" + (" is-invalid" if form.email.errors else "")) }}
              </div>
              <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
              <div class="mb-3 pt-3">
                {{ form.submit(class="btn btn-primary") }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
