{% extends "_base.html" %}

{% block app_content %}
  {% include "shared/datatable_bottles.html" %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    $(function () {

      $('[data-bs-toggle="tooltip"]').tooltip();

      let dk_column = {{ dk_column }};

      let table = $("#bottles").DataTable({
        language: {
            "emptyTable": "There's nothing to see here."
        },
        columnDefs: [
          {% if is_my_list %}
          {
            target: 0,
            searchable: false,
            orderable: false,
          },
          {% endif %}
          {
            target: dk_column,
            orderable: false,
            visible: false,
          }
        ],
        order: [[{{ order_col }}, "asc"]],
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "pageLength": {{ dt_list_length }}
      });

      table
        .columns(dk_column)
        .search("None", true, false)
        .draw();

      $("#show_killed").on("click", function() {
        if (this.checked) {
          table
            .columns()
            .search("")
            .draw();
        } else {
          table
            .columns(dk_column)
            .search("None", true, false)
            .draw();
        }
      });

      /* submit form on click of random button */
      $("#do_random").on("click", function() {
        $("#random_toggle").val("1");
        $("#type_filter").submit();
      });

      /* set cookie when length dropdown is changed */
      $("select[name='bottles_length']").on("change", function() {
        let next_year = new Date(new Date().setFullYear(new Date().getFullYear() + 1));
        document.cookie = "dt-list-length=" + this.value + "; expires=" + next_year + "; path=/";
      });

      let selectAll = $("#selectAll")
      let filterCheckboxes = $("input.type-filter");
      handleSelectAll();

      function handleSelectAll() {
        let totalCheckboxes = filterCheckboxes.length;
        let numberOfChecked = $("input.type-filter:checked").length;

        selectAll.prop("disabled", numberOfChecked===totalCheckboxes);
      }

      filterCheckboxes.on("click", function() {
        handleSelectAll();
      });

      selectAll.on("click", function(){
        filterCheckboxes.prop("checked", true);
        $(this).prop("disabled", true);
      });

      /* confirm delete modal window */
      const myModal = document.getElementById("confirmDelete");
      myModal.addEventListener("shown.bs.modal", (e) => {
        let btn = $(e.target).find(".btn-ok");
        $(btn).on("click", function() {
          location.href = $(e.relatedTarget).data("bs-href");
        });
      });
    });
  </script>
{% endblock %}
