{% extends "_base.html" %}

{% block app_content %}
  <main class="flex-shrink-0">
    <div class="container ps-0">

      <div class="row mt-4">
        <h3 class="mb-0" style="color:#696969;">{{ bottle.user.username }}'s Whiskies: Edit Bottle</h3>
        <h1>{{ bottle.name }}</h1>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-md-4">
        <form method="post" novalidate enctype="multipart/form-data">
          {% set popover_personal_note = "<p>Anything entered into this field will only be visible to you when logged in.</p><p>Perhaps it's the location of the bottle (e.g. 'Main Cabinet' or 'Bedroom Closet'), for example. </p><p>Anything that is relevant to you, but wouldn't necessarily be relevant to others, could go here.</p>" %}
          {% set popover_private_bottle = "If marked as a &quot;Private Bottle&quot;, this bottle will only show in your list when you're logged in.<br /><br />Other users will not be able to see it." %}
          
          {{ form.csrf_token }}
        
          {{ form.remove_image_1 }}
          {{ form.remove_image_2 }}
          {{ form.remove_image_3 }}
        
          {{ form_utils.render_field(form.name) }}
          {{ form_utils.render_field(form.url) }}
          {{ form_utils.render_field(form.distilleries) }}
          {{ form_utils.render_field(form.bottler_id) }}
          {{ form_utils.render_field(form.type) }}
          {{ form_utils.render_field(form.size) }}
          {{ form_utils.render_field(form.year_barrelled) }}
          {{ form_utils.render_field(form.year_bottled) }}
          {{ form_utils.render_field(form.abv) }}
          {{ form_utils.render_field(form.description) }}
          {{ form_utils.render_field(form.personal_note, popover_text=popover_personal_note) }}
          {{ form_utils.render_field(form.stars) }}
          {{ form_utils.render_field(form.review) }}
          {{ form_utils.render_checkbox(form.is_private, popover_text=popover_private_bottle) }}
          {{ form_utils.render_field(form.cost) }}
          {{ form_utils.render_field(form.date_purchased) }}
          {{ form_utils.render_field(form.date_opened) }}
          {{ form_utils.render_field(form.date_killed) }}

          <hr class="my-4" />

          <div class="mb-2 pb-2 text-nowrap">
            Upload up to 3 images. Portrait-oriented images are preferred. <i class="bi bi-file-image"></i>
            <br />
            By uploading images I agree to the <a href="" data-bs-toggle="modal" data-bs-target="#imageTerms">Image Terms and Conditions.</a>
          </div>

          {% if bottle.image_count %}
            {% set num_images = bottle.image_count %}
          {% else %}
            {% set num_images = 0 %}
          {% endif %}

          {% if num_images %}
            <div class="mb-2 pb-2">
              <div class="container text-center">
                <div class="row">
                  {% for n in range(1, bottle.image_count + 1) %}
                    <div class="col-4 ps-0 ms-0 bottle-images" id="bottle-image-{{ n }}">
                      <img alt="{{ bottle.name }}" title="{{ bottle.name }}" class="w-100" src="{{img_s3_url}}/{{ bottle.id }}_{{ n }}.png?r={{ ts }}" />
                      <br />
                      <button type="button" class="btn btn-danger btn-sm mt-2 remove-image" value="{{ n }}">Remove Image</button>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}

          {% for i in range(1, 4) %}
            {% set img_field = "bottle_image_" ~ i %}
            <div class="mb-3 {% if num_images >= i %} d-none{% endif %}" id="upload-image-{{ i }}">
            {{ form[img_field].label(class="form-label") }}
            {{ form[img_field](class="form-control") }}
            </div>
          {% endfor %}
          <div class="pt-3 mb-3">
            {{ form.submit(class="btn btn-primary") }}
            {{ buttons.cancel_button(current_user, request) }}
          </div>
        </form>
      </div>
    </div>
  </main>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Image Terms and Conditions</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>The following rules will be strictly enforced in regard to uploaded images.</p>
          <ul>
            <li>You may only upload your own personal images. No copyrighted images are permitted.</li>
            <li>
              Only photos of whiskey bottles and/or whiskey glasses are permitted. Photos must <em>not</em> include any of the following:
              <ul>
                <li>Any individuals</li>
                <li>Any physical addresses or phone numbers</li>
                <li>Any text, such as links to other websites or any personal information</li>
              </ul>
            </li>
          </ul>
          <p>Any account found to violate these rules with any images will be terminated immediately.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close Window</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}