<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; {{ current_date.strftime('%Y') }} My Whiskies Online</p>

    <a href="{{ url_for("main.home") }}" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="{{ url_for('static', filename='cheers.png') }}" style="height:64px;" />
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="{{ url_for("main.home") }}" class="nav-link px-2 text-muted">Home</a></li>
      {% if current_user.is_anonymous %}
        <li class="nav-item"><a href="{{ url_for('auth.login') }}" class="nav-link px-2 text-muted">Log In</a></li>
      {% else %}
        <li class="nav-item"><a href="{{ url_for('auth.logout') }}" class="nav-link px-2 text-muted">Log Out</a></li>
      {% endif %}
    </ul>
  </footer>
</div>