{% extends "base.html" %}

{% block app_content %}

  {% set dtfmt = "%d %B %Y" %}
  <main class="flex-shrink-0">
    <div class="container">
      <h1>
        {{ user.username }}'s Whiskies:<br />{{ bottle.name }}

        <div class="float-lg-end mt-lg-0 mt-3">
          {% set btn_label = user.username ~ "'s List" %}
          {% if is_my_bottle %}
            {% set btn_label = "My List" %}
          {% endif %}
          <a class="btn btn-primary" href="{{ url_for('main.list_bottles', username=user.username|lower) }}" role="button"><i class="bi bi-list-ul"></i> {{ btn_label }}</a>
          {% if is_my_bottle %}
            <a class="btn btn-primary me-2" href="{{ url_for("main.bottle_edit", bottle_id=bottle.id) }}" role="button"><i class="bi bi-pencil"></i> Edit Bottle</a>
          {% endif %}
        </div>
      </h1>

      <hr />

      {# outermost container... holds 2 columns (data and image) #}
      <div class="container">
        <div class="row">

          {# left column... holding 2 columns of bottle data #}
          <div class="col-8">

            <div class="row">

              {# left column #}
              <div class="col-md ps-0 ms-0 pe-2 me-2">
                <div class="row flex-nowrap">
                  <div class="col-3 text-nowrap fw-bold me-4 me-sm-0">Name:</div>
                  <div class="col-9 ps-4 ps-sm-2">
                    {% if bottle.url %}
                      <a href="{{ bottle.url }}" target="_blank" rel="noopener noreferrer">{{ bottle.name }} <i class="bi bi-box-arrow-in-up-right"></i></a>
                    {% else %}
                      {{ bottle.name }}
                    {% endif %}
                  </div>
                </div>
                <div class="row flex-nowrap">
                  <div class="col-3 text-nowrap fw-bold me-4 me-sm-0">Type:</div>
                  <div class="col-9 ps-4 ps-sm-2">
                    {{ bottle.type.value }}
                  </div>
                </div>
                <div class="row flex-nowrap">
                  <div class="col-3 text-nowrap fw-bold me-4 me-sm-0">Distillery:</div>
                  <div class="col-9 ps-4 ps-sm-2">
                    {% if bottle.distillery.url %}
                      <a href="{{ bottle.distillery.url }}" target="_blank" rel="noopener noreferrer">{{ bottle.distillery.name }} <i class="bi bi-box-arrow-in-up-right"></i></a>
                    {% else %}
                      {{ bottle.distillery.name }}
                    {% endif %}
                  </div>
                </div>
                <div class="row flex-nowrap">
                  <div class="col-3 text-nowrap fw-bold me-4 me-sm-0">Year:</div>
                  <div class="col-9 ps-4 ps-sm-2">{% if bottle.year %}{{ bottle.year }}{% endif %}</div>
                </div>
                <div class="row flex-nowrap">
                  <div class="col-3 text-nowrap fw-bold me-4 me-sm-0">ABV:</div>
                  <div class="col-9 ps-4 ps-sm-2">{% if bottle.abv %}{{ "%.2f"|format(bottle.abv) }}{% else %}N/A{% endif %}</div>
                </div>
                <div class="row flex-nowrap">
                  <div class="col-3 text-nowrap fw-bold me-4 me-sm-0">Proof:</div>
                  <div class="col-9 ps-4 ps-sm-2">{% if bottle.abv %}{{ "%.2f"|format(bottle.abv * 2) }}{% else %}N/A{% endif %}</div>
                </div>
                <div class="row flex-nowrap">
                  <div class="col-3 text-nowrap fw-bold me-4 me-sm-0">Cost:</div>
                  <div class="col-9 ps-4 ps-sm-2">
                    {% if bottle.cost %}
                      {{ "$%.2f"|format(bottle.cost) }}
                    {% endif %}
                  </div>
                </div>
                <div class="row flex-nowrap mb-3">
                  <div class="col-3 text-nowrap fw-bold me-4 me-sm-0">Description:</div>
                  <div class="col-9 ps-4 ps-sm-2">{% if bottle.description %}{{ bottle.description }}{% endif %}</div>
                </div>
              </div>

              {# right column #}
              <div class="col-xl ps-0 ms-0 pe-2 me-2 mb-5">
                <div class="row flex-nowrap">
                  <div class="col-3 text-nowrap fw-bold me-4 me-sm-0">Star Rating:</div>
                  <div class="col-9 ps-4 ps-sm-2">
                    {% if bottle.stars %}
                      {% set times_ten = bottle.stars * 10 %}
                      {% set times_ten = times_ten|int %}
                      {% set the_var = "stars/stars_" + times_ten|string + ".png" %}
                      <img src="{{ url_for('static', filename=the_var) }}" alt="{{ bottle.stars }} Stars" title="{{ bottle.stars }} Stars" class="mb-1" />
                    {% else %}
                      <img src="{{ url_for('static', filename='stars/stars_blank.png') }}" alt="" title="" class="mb-1" />
                    {% endif %}
                  </div>
                </div>
                <div class="row flex-nowrap">
                  <div class="col-3 text-nowrap fw-bold me-4 me-sm-0">Review:</div>
                  <div class="col-9 ps-4 ps-sm-2">{% if bottle.review %}{{ bottle.review }}{% endif %}</div>
                </div>

                <div><hr /></div>

                <div class="row flex-nowrap">
                  <div class="col-3 text-nowrap fw-bold me-4 me-sm-0"><i class="bi bi-calendar2-event me-1"></i> Purchased:</div>
                  <div class="col-9 ps-5 ps-sm-2">
                    {% if bottle.date_purchased %}
                      {{ bottle.date_purchased.strftime(dtfmt) }}
                    {% endif %}
                  </div>
                </div>
                <div class="row flex-nowrap">
                  <div class="col-3 text-nowrap fw-bold me-4 me-sm-0"><i class="bi bi-calendar2-event me-1"></i> Opened:</div>
                  <div class="col-9 ps-5 ps-sm-2">
                    {% if bottle.date_opened %}
                      {{ bottle.date_opened.strftime(dtfmt) }}
                    {% endif %}
                  </div>
                </div>
                <div class="row flex-nowrap">
                  <div class="col-3 text-nowrap fw-bold me-4 me-sm-0"><i class="bi bi-calendar2-event me-1"></i> Killed:</div>
                  <div class="col-9 ps-5 ps-sm-2">
                    {% if bottle.date_killed %}
                      {{ bottle.date_killed.strftime(dtfmt) }}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {# end left column #}

          {# start right column #}
          <div class="col-lg pe-0 me-0 ps-0 ms-0">
            {% if bottle.image_count %}
            {% if bottle.image_count > 1 %}
              <div id="bottleCarousel" class="carousel carousel-dark slide carousel-fade float-lg-end" data-bs-ride="false" data-bs-interval="false" data-bs-touch="true">
                <div class="carousel-indicators">
                  {% for n in range(1, bottle.image_count + 1) %}
                  <button type="button" data-bs-target="#bottleCarousel" data-bs-slide-to="{{ n-1 }}"{% if n == 1 %} class="active" aria-current="true"{% endif %} aria-label="Slide {{ n }}"></button>
                  {% endfor %}
                </div>
                <div class="carousel-inner">
                  {% for n in range(1, bottle.image_count + 1) %}
                    <div class="carousel-item{% if n == 1 %} active{% endif %}">
                      <img alt="{{ bottle.name }}" title="{{ bottle.name }}" class="bottle-img rounded border border-2 border-dark d-block w-100" src="https://my-whiskies-pics.s3-us-west-1.amazonaws.com/{{ bottle.id }}_{{ n }}.png" />
                    </div>
                  {% endfor %}
                  <button class="carousel-control-prev" type="button" data-bs-target="#bottleCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#bottleCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            {% else %}
              <img alt="{{ bottle.name }}" title="{{ bottle.name }}" class="float-end bottle-img rounded border border-2 border-dark me-0 pe-0" src="https://my-whiskies-pics.s3-us-west-1.amazonaws.com/{{ bottle.id }}_1.png" />
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
