{% extends "base.html" %}

{% block app_content %}

  {% set dtfmt = "%d %B %Y" %}
  <main class="flex-shrink-0">
    <div class="container mb-5 pb-5">
      <h1>
        {{ user.username }}'s Whiskies:<br />{{ bottle.name }}
        <div class="float-end mb-2 me-2" style="margin-top:0.4rem;">
          <a class="btn btn-primary float-end" href="{{ url_for('main.list_bottles', username=user.username|lower) }}" role="button"><i class="bi bi-list-ul"></i> {{ current_user.username }}'s List</a>
        </div>
      </h1>
      <hr />

      <div class="container">
        <div class="row">

          {# bottle data #}
          <div class="col{% if bottle.image_count %}-4{% endif %} ms-0 ps-0" id="data">
            <div class="row">
              <div class="col-md-4 fw-bold">Name:</div>
              <div class="col">
                {% if bottle.url %}
                  <a href="{{ bottle.url }}" target="_blank" rel="noopener noreferrer">{{ bottle.name }} <i class="bi bi-box-arrow-in-up-right"></i></a>
                {% else %}
                  {{ bottle.name }}
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 fw-bold">Type:</div>
              <div class="col">
                {{ bottle.type.value }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 fw-bold">Distillery:</div>
              <div class="col">
                {% if bottle.distillery.url %}
                  <a href="{{ bottle.distillery.url }}" target="_blank" rel="noopener noreferrer">{{ bottle.distillery.name }} <i class="bi bi-box-arrow-in-up-right"></i></a>
                {% else %}
                  {{ bottle.distillery.name }}
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 fw-bold">Year:</div>
              <div class="col">{% if bottle.year %}{{ bottle.year }}{% endif %}</div>
            </div>
            <div class="row">
              <div class="col-md-4 fw-bold">ABV:</div>
              <div class="col">{{ "%.2f"|format(bottle.abv) }}</div>
            </div>
            <div class="row">
              <div class="col-md-4 fw-bold">Proof:</div>
              <div class="col">{{ "%.2f"|format(bottle.abv * 2) }}</div>
            </div>
            <div class="row">
              <div class="col-md-4 fw-bold">Cost:</div>
              <div class="col">
                {% if bottle.cost %}
                  {{ "$%.2f"|format(bottle.cost) }}
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 fw-bold">Description:</div>
              <div class="col">{% if bottle.description %}{{ bottle.description }}{% endif %}</div>
            </div>
            <div class="row">
              <div class="col-md-4 fw-bold">Star Rating:</div>
              <div class="col">
                {% if bottle.stars %}
                  {% set times_ten = bottle.stars * 10 %}
                  {% set times_ten = times_ten|int %}
                  {% set the_var = "stars/stars_" + times_ten|string + ".png" %}
                  <img src="{{ url_for('static', filename=the_var) }}" alt="{{ bottle.stars }} Stars" title="{{ bottle.stars }} Stars" class="mb-1" />
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 fw-bold">Review:</div>
              <div class="col">{% if bottle.review %}{{ bottle.review }}{% endif %}</div>
            </div>
          </div>


          {# bottle date data #}
          <div class="col{% if bottle.image_count %}-4{% endif %} mb-0 pb-0 me-0 pe-0">
            <div class="row">
              <div class="col-md-4 fw-bold">Date Created:</div>
              <div class="col">
                {% if bottle.date_created %}
                  {{ bottle.date_created.strftime(dtfmt) }}
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 fw-bold">Date Purchased:</div>
              <div class="col">
                {% if bottle.date_purchased %}
                  {{ bottle.date_purchased.strftime(dtfmt) }}
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 fw-bold">Date Opened:</div>
              <div class="col">
                {% if bottle.date_opened %}
                  {{ bottle.date_opened.strftime(dtfmt) }}
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 fw-bold">Date Killed:</div>
              <div class="col">
                {% if bottle.date_killed %}
                  {{ bottle.date_killed.strftime(dtfmt) }}
                {% endif %}
              </div>
            </div>
          </div>

          {# bottle images #}
          {% if bottle.image_count %}
            <div class="col-4 mb-0 pb-0 me-0 pe-0">
              {% if bottle.image_count > 1 %}
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
                  <div class="carousel-indicators">
                    {% for n in range(1, bottle.image_count + 1) %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ n-1 }}"{% if n == 1 %} class="active" aria-current="true"{% endif %} aria-label="Slide {{ n }}"></button>
                    {% endfor %}
                  </div>
                  <div class="carousel-inner">
                    {% for n in range(1, bottle.image_count + 1) %}
                      <div class="carousel-item{% if n == 1 %} active{% endif %}">
                        <img alt="{{ bottle.name }}" title="{{ bottle.name }}" class="bottle-img rounded border border-2 border-dark d-block w-100" src="https://my-whiskies-pics.s3-us-west-1.amazonaws.com/{{ bottle.id }}_{{ n }}.png" />
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <img alt="{{ bottle.name }}" title="{{ bottle.name }}" class="bottle-img rounded border border-2 border-dark me-0 pe-0" src="https://my-whiskies-pics.s3-us-west-1.amazonaws.com/{{ bottle.id }}_1.png" />
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

  </main>
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
