{% extends "base.html" %}

{% block app_content %}
  <main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Whiskey and Stuff</h1>
      <hr />
      <p>
        Welcome Home, {{ user.username }}
        <br />
        {% if distilleries|length == 0 %}
          <br />
          You have no distilleries.
          If you'd like us to add some, <a href="{{ url_for('main.add_distilleries') }}">click here</a>.
          <br /><br />
        {% endif %}

        Your distilleries: {{ distilleries|length }}
        (<a href="{{ url_for('main.distillery') }}">add distillery</a>)
        <br />
        Your bottles: {{ bottles|length }}
        {% if distilleries|length > 0 %}
          (<a href="{{ url_for('main.bottle') }}">add bottle</a>)
        {% endif %}
      </p>
    </div>
  </main>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
  </script>
{% endblock %}
