{% extends "base.html" %}

{% block app_content %}
  <main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Whiskey and Stuff</h1>
      <hr />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. At quis risus sed vulputate odio ut. Iaculis eu non diam phasellus vestibulum lorem
        sed risus ultricies. Fermentum dui faucibus in ornare quam. A diam sollicitudin tempor id eu nisl nunc mi.
        Eget nullam non nisi est sit amet. Dolor sed viverra ipsum nunc. Sed odio morbi quis commodo odio aenean.
        A condimentum vitae sapien pellentesque habitant. Facilisi morbi tempus iaculis urna id volutpat lacus
        laoreet non. Risus pretium quam vulputate dignissim suspendisse in est ante in. Adipiscing elit duis
        tristique sollicitudin nibh. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada.
      </p>
      <p>
        Neque egestas congue quisque egestas diam in arcu cursus. Sed id semper risus in hendrerit gravida.
        Nullam non nisi est sit amet facilisis magna. Eu lobortis elementum nibh tellus molestie nunc non blandit
        massa. Sed nisi lacus sed viverra. Dictum varius duis at consectetur lorem donec massa. Risus at ultrices
        mi tempus imperdiet nulla malesuada. Risus commodo viverra maecenas accumsan lacus vel facilisis.
        Semper eget duis at tellus. Faucibus interdum posuere lorem ipsum. Posuere ac ut consequat semper viverra nam libero justo.
      </p>
    </div>
  </main>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
  </script>
{% endblock %}